<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SqlServerCE3_1Wrapper" publicKeyToken="null" />
        <codeBase version="1.0.0.0" href="SqlServerCE3.1/SqlServerCE3_1Wrapper.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SqlServerCE3_5Wrapper" publicKeyToken="null" />
        <codeBase version="1.0.0.0" href="SqlServerCE3.5/SqlServerCE3_5Wrapper.dll" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>